{% extends "model-page.html" %}

{% block content %}

<h2>Evento</h2>
<form action="submit" method="POST"> {% csrf_token %}
	<label>Título</label>
	<input type="number" name="id_evento" value="{{ evento.id }}" hidden>
	<br>
	<input type="text" name="titulo" size="23" value="{{ evento.titulo }}">
	<br><br>
	<label>Data do Evento:</label>
	<br>
	<input type="datetime-local"  name="data_evento" size="23" value=" {{ evento.get_data_input_evento}}">
	<!-- type datetime-local não tem compatiblidade no firefox, ou seja, essa funcionalidade não funciona. Vai apenas aparecer como um input de texto -->
	<br><br>
	<label>Local do Evento:</label>
	<br>
	<input type="text" name="local" size="23" value=" {{ evento.local }}">
	<br><br>
	<label>Descrição</label>
	<br>
	<textarea name="descricao" rows="5" cols="24"> {{ evento.descricao }} </textarea>
	<br><br>
	<button type="submit">Salvar</button>
	<a href="/"> <!-- retorna ao índice/index  -->
	<button type="button">Cancelar</button>
	</a>
</form>

{% endblock %}